@page "/users/{UserId}"
@layout Commons.Layouts.MainLayout
@inherits UserStateComponentBase

<DocumentTitle Value="@(Owner?.Name ?? UserId)" />

@if (Model != null)
{
    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <div class="entry-detail">
                <h2 class="title">
                    <Icon Identifier="user" />
                    @Owner.Name
                </h2>

                <div class="datetime">
                    <Icon Identifier="calendar-day" />
                    @Model.RegistrationDate.ToString(UiOptions.DateFormat)
                </div>

                <ActionPanel CssClass="mt-3">
                    <ShareLinkButton />
                </ActionPanel>

                <ul class="nav nav-pills my-4">
                    <li class="nav-item">
                        <span class="nav-link active">Entries</span>
                    </li>
                </ul>

                <Neptuo.Recollections.Entries.Pages.Timeline AllowCreate="false" AllowMore="false" UserId="@UserId" />
            </div>
        </PermissionContainer>
    </CascadingValue>
}