@page "/users/{UserId}"
@layout Commons.Layouts.MainLayout

<PageTitle Value="@(Owner?.Name ?? UserId)" />

@if (Model != null)
{
    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <div class="entry-detail">
                <h2 class="title">
                    <Icon Identifier="user" />
                    @Owner.Name
                </h2>

                <div class="datetime">
                    <Icon Identifier="calendar-day" />
                    @Model.RegistrationDate.ToString(UiOptions.DateFormat)
                </div>

                <ActionPanel CssClass="mt-3">
                    <PermissionView Request="@PermissionRequest.Owner">
                        <ShareButton ProfileId="@Owner.Id" />
                    </PermissionView>
                </ActionPanel>
            </div>
        </PermissionContainer>
    </CascadingValue>
}