@page "/users/{UserId}"
@layout Commons.Layouts.MainLayout
@inherits UserStateComponentBase
@inject Entries.Api EntriesApi

<DocumentTitle Value="@(Owner?.Name ?? UserId)" />
<TemplateContent Name="MobileTitle">User profile</TemplateContent>

@if (Model != null)
{
    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <div class="entry-detail">
                <h2 class="title">
                    <Icon Identifier="user" />
                    @Owner.Name
                </h2>

                <div class="datetime">
                    <Icon Identifier="calendar-day" />
                    @Model.RegistrationDate.ToString(UiOptions.DateFormat)
                </div>

                <ActionPanel CssClass="my-3">
                    <ShareLinkButton />
                </ActionPanel>

                <Timeline DataGetter="@(offset => EntriesApi.GetTimelineListAsync(UserId, offset))" NoMoreText="Here the user started..." />
            </div>
        </PermissionContainer>
    </CascadingValue>
}