@inherits InlineMarkdownEditModel

<span class="inline-editor @GetModeCssClass()">
    @if (IsEditMode)
    {
        <textarea class="form-control" bind="@Value" />
        <Icon Identifier="check" onclick="@OnSaveValue" />
    }
    else
    {
        <span class="inline-editor-value" onclick="@(() => IsEditMode = true)">
            @if (String.IsNullOrEmpty(Value))
            {
                <span class="placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                @Value
            }
            <Icon Identifier="pencil" />
        </span>
    }
</span>
