@implements IItemContainer

<div class="dropdown @CssClass">
    <button class="btn btn-link py-0 px-2" data-bs-toggle="dropdown">
        <Icon Identifier="@Icon" />
    </button>
    <ul class="dropdown-menu @(IsEnd ? "dropdown-menu-end" : "")">
        <CascadingValue Value="@((IItemContainer)this)">
            @ChildContent
        </CascadingValue>
    </ul>
</div>

@code
{
    [Parameter]
    public string Icon { get; set; } = "ellipsis-v";

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsEnd { get; set; }

    RenderFragment<Item> IItemContainer.GetItemTemplate()
    {
        return item => @<li>
            <a class="dropdown-item @item.CssClass" @onclick="@item.OnClick" title="@item.Title">
                <Icon Identifier="@item.Icon" />
                @item.Text
            </a>
        </li>;
    }

    RenderFragment<ItemGroup> IItemContainer.GetItemGroupTemplate()
    {
        return group => @<li><h6 class="dropdown-header">@group.Text</h6></li>;
    }

    RenderFragment<ItemSeparator> IItemContainer.GetItemSeparatorTemplate()
    {
        return separator => @<hr class="dropdown-divider" />;
    }
}