@using Neptuo.Logging;
@inject ILog<EditButton> Log

<button class="btn btn-primary btn-floating" @onclick="@ToggleOffcanvas">
    <Icon Identifier="pen" />
</button>

<Offcanvas @ref="Offcanvas" class="offcanvas-bottom-to-end" style="--bs-offcanvas-height: 420px;" BodyCssClass="pt-0 pb-5" IsHeader="false">
    <ChildContent>
        <div class="list-group list-group-flush">
            @{ var isFirstGroup = true; }
            @foreach (var group in MenuGroups)
            {
                @if (!string.IsNullOrEmpty(group.Text))
                {
                    if (isFirstGroup == false)
                    {
                        <div class="mt-3" />
                    }
                    <h3 class="list-group-item sticky-top pt-3 mb-0">
                        @group.Text
                    </h3>
                }
                
                @foreach (var item in group.Items)
                {
                    var cssClass = $"list-group-item list-group-item-action";
                    if (item.Text.Contains("Delete"))
                        cssClass += " text-danger";

                    if (!string.IsNullOrEmpty(item.CssClass))
                        cssClass += $" {item.CssClass}";

                    <button type="button" @onclick="@(() => { Offcanvas.Hide(); Log.Debug($"Click '{item.OnClick != null}'"); item.OnClick?.Invoke(); })" class="@cssClass">
                        <Icon Identifier="@item.Icon" />
                        @item.Text
                    </button>
                }
                isFirstGroup = false;
            }
        </div>
    </ChildContent>
</Offcanvas>

@code {
    Offcanvas Offcanvas;

    [Parameter]
    public List<MenuItemGroup> MenuGroups { get; set; } = [];

    void ToggleOffcanvas()
    {
        if (Offcanvas.IsVisible)
            Offcanvas.Hide();
        else
            Offcanvas.Show();
    }
}