@using Neptuo.Logging;
@implements IItemContainer
@inject ILog<EditButton> Log

<button class="btn btn-primary btn-floating" @onclick="@ToggleOffcanvas">
    <Icon Identifier="pen" />
</button>

<Offcanvas @ref="Offcanvas" class="btn-floating-offcanvas offcanvas-bottom-to-end" style="--bs-offcanvas-height: 420px;" BodyCssClass="pt-0 pb-5" IsHeader="false">
    <ChildContent>
        <CascadingValue Value="@((IItemContainer)this)">
            @ChildContent
        </CascadingValue>
    </ChildContent>
</Offcanvas>

@code {
    Offcanvas Offcanvas;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    void ToggleOffcanvas()
    {
        if (Offcanvas.IsVisible)
            Offcanvas.Hide();
        else
            Offcanvas.Show();
    }

    RenderFragment<Item> IItemContainer.GetItemTemplate()
    {
        Log.Debug("Getting item template for EditButton.");

        return item => 
        {
            var cssClass = $"list-group-item list-group-item-action";
            if (item.Text.Contains("Delete"))
                cssClass += " text-danger";

            if (!string.IsNullOrEmpty(item.CssClass))
                cssClass += $" {item.CssClass}";

            var onclick = () => { Offcanvas.Hide(); Log.Debug($"Click '{item.OnClick.HasDelegate}'"); return item.OnClick.InvokeAsync(); };

            return @<button type="button" @onclick="@onclick" class="@cssClass" title="@item.Title">
                <Icon Identifier="@item.Icon" />
                @item.Text
            </button>;
        };
    }

    RenderFragment<ItemGroup> IItemContainer.GetItemGroupTemplate()
    {
        Log.Debug("Getting item group template for EditButton.");

        return group => @<div class="list-group list-group-flush">
            <h3 class="list-group-item sticky-top pt-3 mb-0">
                @group.Text
            </h3>
            @group.ChildContent
        </div>;
    }
}