@if (IsVisible)
{
    <div @ref="Container" class="container exception-panel">
        @if (IsUnauthorized)
        {
            @UnauthorizedContent
        }
        else if (IsNotFound)
        {
            @NotFoundContent
        }
        else
        {
            <Alert Title="@Title" Message="@Message" Mode="@AlertMode.Error" OnDismiss="@(() => IsVisible = false)" />
        }
    </div>
}

<Modal @ref="PremiumModal">
    <TitleContent>
        <Icon Prefix="fas" Identifier="star" />
        Premium
    </TitleContent>
    <ChildContent>
        <Alert Message="You have reached limits for free users." Mode="@AlertMode.Warning" />
        <p class="mx-2">
            If you like Recollections, please consider donating some dollars to support our operating costs.
        </p>
    </ChildContent>
</Modal>

<Modal @ref="ReadOnlyModal" Title="Read only">
    <p class="text-center">
        The demo account has read-only access. 
    </p>
    <button class="btn btn-block btn-salmon" @onclick="OnStartRegistrationClickAsync">
        Start your own recollections with registration
    </button>
</Modal>