<form @ref="FormElement" class="inline-form file-upload" action="@Url">
    <input type="file" multiple />
    <button type="button" class="btn btn-sm btn-primary">
        <Icon Identifier="image" />
        @Text
    </button>
</form>


<Modal @ref="@UploadError" Title="Upload Error" IsClosable="false">
    <ChildContent>
        @{
            var message = $"Some uploads ({UploadErrors.Count}) finished with errors.";
        }
        <Alert Mode="AlertMode.Warning" Message="@message" />

        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">File</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var error in UploadErrors)
                {
                    <tr>
                        <td>
                            @error.Name
                            <br />
                            <small class="text-warning">
                                @error.ErrorDescription (@error.StatusCode)
                            </small>
                        </td>
                        <td style="width: 1%">
                            <Icon Identifier="trash-alt" OnClick="@(() => DeleteUploadErrorAsync(error))" CssClass="text-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm-expand" @onclick="@(() => { UploadError.Hide(); return FileUploader.RetryEntityQueueAsync(EntityType, EntityId); })">Retry</button>
        <button class="btn btn-secondary" @onclick="@(() => { UploadError.Hide(); return FileUploader.ClearEntityQueueAsync(EntityType, EntityId); })">
            <Icon Identifier="trash-alt" CssClass="me-1" />
            Remove all
        </button>
    </Buttons>
</Modal>
<Modal @ref="@UploadRetry" Title="Unfinished files from last time" IsClosable="false">
    <ChildContent>
        <Alert Mode="AlertMode.Warning" Message="@($"Some uploads ({UploadRetries.Count}) did not finish last time.")" />

        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">File</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var retry in UploadRetries)
                {
                    var item = retry;
                    <tr>
                        <td>
                            @retry.Name
                        </td>
                        <td style="width: 1%">
                            <Icon Identifier="trash-alt" OnClick="@(() => DeleteUploadToRetryAsync(item))" CssClass="text-danger" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm-expand" @onclick="@(() => { UploadRetry.Hide(); return FileUploader.RetryEntityQueueAsync(EntityType, EntityId); })">Retry</button>
        <button class="btn btn-secondary" @onclick="@(() => { UploadRetry.Hide(); return FileUploader.ClearEntityQueueAsync(EntityType, EntityId); })">
            <Icon Identifier="trash-alt" CssClass="me-1" />
            Remove all
        </button>
    </Buttons>
</Modal>