@typeparam T

@if (IsLoading)
{
    <Loading IsLoading="true" />
}
else if (Items == null || Items.Count == 0)
{
    if (EmptyColWrapper)
    {
        <div class="col">
            @RenderEmptyContent()
        </div>
    }
    else
    {
        @RenderEmptyContent()
    }
}
else
{
    foreach (var item in Items)
    {
        @ChildContent(item);
    }
}

@code
{
    RenderFragment RenderEmptyContent() => @<text>
        @if (EmptyContent != null)
        {
            @EmptyContent
        }
        else
        {
            <Alert Mode="@AlertMode.Warning" Message="@EmptyMessage" CssClass="mb-0" />
        }
    </text>;
}