<div @ref="Container" class="map-container">
    <div class="map"></div>

    <div class="map-controls">
        @if (IsAdditive)
        {
            <button class="btn btn-sm btn-light btn-add-location" title="Add Location">
                <Icon Identifier="plus" />
            </button>
        }

        <button class="btn btn-sm btn-light btn-search" title="Search" @onclick="@(() => SearchModal.Show())">
            <Icon Identifier="magnifying-glass" />
        </button>
    </div>

    <Modal @ref="SearchModal" Title="Search location">
        <ChildContent>
            <div class="form-row">
                <div class="col">
                    <input @ref="SearchInput" @bind="SearchQuery" type="text" class="form-control" placeholder="Street, city, country ..." />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" @onclick="@(async () => await SearchLocationAsync())">Search</button>
                </div>
            </div>

            @foreach (var searchResult in SearchResults)
            {
                <hr />
                <p>
                    <a @onclick="@(async () => await SearchResultSelectedAsync(searchResult))">
                        <strong>@searchResult.Label</strong>
                    </a>
                    <br />
                    @searchResult.Latitude, @searchResult.Longitude
                </p>
            }
        </ChildContent>
    </Modal>
</div>