<div @ref="Container" class="modal fade @CssClass" tabindex="-1" role="dialog">
    <div class="@DialogCssClass" role="document">
        <form @onsubmit="@OnFormSubmit" @onsubmit:preventDefault="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        @if (TitleContent != null)
                        {
                            @TitleContent
                        }
                        else
                        {
                            @Title
                        }
                    </h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    @Buttons
                    <button type="button" class="btn btn-default btn-light btn-sm" @onclick="@OnCloseButtonClick">@CloseButtonText</button>
                </div>
            </div>
        </form>
    </div>
</div> 
