<div @ref="Container" class="modal fade @CssClass" tabindex="-1" role="dialog" data-bs-backdrop="@(!IsClosable ? "static" : "true")" data-bs-keyboard="@(!IsClosable ? "false" : "true")" data-autofocus="@AutoFocus">
    <div class="@DialogCssClass" role="document">
        <form @onsubmit="@OnFormSubmit" @onsubmit:preventDefault="true">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        @if (TitleContent != null)
                        {
                            @TitleContent
                        }
                        else
                        {
                            @Title
                        }
                    </h4>
                    @if (IsClosable)
                    {
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    }
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    @Buttons
                    @if (IsClosable)
                    {
                        <button type="button" class="btn btn-light" @onclick="@OnCloseButtonClick">@CloseButtonText</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div> 
