@page "/beings/{BeingId}"
@inherits UserStateComponentBase

<DocumentTitle Value="@(Model?.Name ?? "Being...")" />

<LoadingSection IsLoading="@(Model == null)">
    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <ActionMenu>
                <ItemGroup Text="@Model.Name">
                    <PermissionView Request="PermissionRequest.Owner">
                        <ShareButton Owner="@Owner" BeingId="@Model.Id" Layout="ButtonLayout.Item" />
                    </PermissionView>
                    <ShareLinkButton Layout="ButtonLayout.Item" />
                    <PermissionView Request="PermissionRequest.Owner">
                        @if (Model.Id != Model.UserId)
                        {
                            <Item Icon="trash-alt" Text="Delete Being" OnClick="DeleteAsync" CssClass="text-danger" Title="Delete Being" />
                        }
                    </PermissionView>
                </ItemGroup>
            </ActionMenu>

            <div class="my-sm-3">
                <InlineTitleEdit Value="@Model.Name" ValueChanged="@(async value => await SaveNameAsync(value))" />
                <h2 class="icon">
                    <InlineLink Value="@Model.Icon" PlaceHolder="user" OnClick="@(() => IconPicker.Show())">
                        <ValueContent Context="identifier">
                            <Icon Identifier="@identifier" />
                        </ValueContent>
                    </InlineLink>
                </h2>
                <UserInformation Owner="@Owner" />
                <div class="gps">
                    <MapToggle DialogTitle="@($"{Model.Name}: Map")" Text="@(Markers.Count == 0 ? "No locations..." : $"{Markers.Count} locations")" IsPlaceHolder="@(Markers.Count == 0)" IsEnabled="@(Markers.Count != 0)">
                        <Map Markers="@Markers" MarkerSelected="OnMarkerSelected" />
                    </MapToggle>
                </div>

                @if (StoriesCount > 0)
                {
                    <div class="my-2">
                        <InlineLink Value="@($"{StoriesCount} {(StoriesCount == 1 ? "story" : "stories")}")" Icon="book" OnClick="ShowStoriesAsync" />
                    </div>
                }

                <div class="my-3">
                    <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description..." ValueChanged="@(async value => await SaveTextAsync(value))" />
                </div>

                <div class="mb-3 timeline-narrow">
                    <Timeline DataGetter="@((offset, count) => Api.GetBeingTimelineAsync(Model.Id, offset, count))" NoMoreText="@($"Here {Model.Name} started...")" />
                </div>
            </div>
        </PermissionContainer>
    </CascadingValue>

    <BeingIconPicker @ref="IconPicker" Value="@Model.Icon" Selected="@(async value => await SaveIconAsync(value))" />

    <Offcanvas @ref="StoriesOffcanvas" class="offcanvas-half" Direction="start" Title="@($"Stories with {Model.Name}")" IsBodyRenderedLazily="true">
        <div class="row">
            <ListView Items="@StoryItems" IsLoading="@IsStoriesLoading" EmptyMessage="No stories found..." Context="story">
                <div class="col-sm-12 col-md-6 mb-3">
                    <StoryCard Model="story" OnCardClick="@(() => Navigator.OpenStoryDetail(story.Id))" />
                </div>
            </ListView>
        </div>
    </Offcanvas>
</LoadingSection>
