@page "/calendar"
@page "/calendar/{Year:int}"
@page "/calendar/{Year:int}/{Month:int}"

@if (IsMonthView)
{
    <h3 class="d-flex align-items-center mt-4">
        <a class="mr-auto btn btn btn-secondary btn-sm" href="@GetPrevPeriodUrl()">Prev</a>
        <div>
            <span>@Year</span>
            -
            <span>@Month</span>
        </div>
        <a class="ml-auto btn btn btn-secondary btn-sm" href="@GetNextPeriodUrl()">Next</a>
    </h3>

    <MonthView Year="@Year.Value" Month="@Month.Value" Context="day">
        <div>
            <span class="badge bg-light text-dark">
                @day
            </span>
        </div>

        @foreach (var model in Models.Where(e => e.When.Day == day))
        {
            <a href="@Navigator.UrlEntryDetail(model.Id)" class="badge bg-salmon">
                @model.Title
            </a>
        }
    </MonthView>
}