@page "/entry/{EntryId}"
@inherits EntryDetailModel

@if (Model != null)
{
    <div class="entry-detail">
        <h2 class="title">
            <InlineTextEdit Value="@Model.Title" ValueChanged="@(value => SaveTitleAsync(value))" />
        </h2>
        <div class="datetime">
            <Icon Identifier="calendar" />
            <InlineDateEdit Value="@Model.When" ValueChanged="@(value => SaveWhenAsync(value))" Format="@UiOptions.DateFormat" />
        </div>
        <div class="text">
            <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description provided..." ValueChanged="@(value => SaveTextAsync(value))" />
        </div>
        <div class="images">
            <FileUpload Url="@Api.ImageUploadUrl(Model.Id)" BearerToken="@UserState.BearerToken" />
        </div>

        <div class="actions">
            <button type="button" class="btn btn-sm btn-danger" onclick="@(() => DeleteAsync())" title="Delete Entry">
                <Icon Identifier="trash" />
                Delete Entry
            </button>
        </div>
    </div>
} 