@page "/entries/{EntryId}"
@inherits UserStateComponentBase

@if (Model != null)
{
    <DocumentTitle Value="@Model.Title" />

    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <ActionMenu>
                <ItemGroup Text="@Model.Title">
                    @if (Gallery != null)
                    {
                        <Item Icon="image" Text="Open gallery" OnClick="@(() => Gallery.Open(0))" />
                    }
                    <PermissionView Request="PermissionRequest.Owner">
                        <ShareButton Owner="@Owner" EntryId="@EntryId" Layout="ButtonLayout.Item" />
                    </PermissionView>
                    <ShareLinkButton Layout="ButtonLayout.Item" />
                    <PermissionView Request="PermissionRequest.Owner">
                        <Item Icon="trash-alt" Text="Delete Entry" OnClick="DeleteAsync" CssClass="text-danger" Title="Delete Entry" />
                    </PermissionView>
                </ItemGroup>
            </ActionMenu>

            <div @ref="Container" class="entry-detail my-sm-3">
                <InlineTitleEdit Value="@Model.Title" ValueChanged="@(async value => await SaveTitleAsync(value))" />
                <div class="datetime">
                    <InlineDateEdit Value="@Model.When" ValueChanged="@(async value => await SaveWhenAsync(value))" Format="@UiOptions.DateFormat" />
                </div>
                <div class="story">
                    <InlineLink Value="@StoryTitle" PlaceHolder="No story..." Icon="book" OnClick="@SelectStory" />
                </div>
                <UserInformation Owner="@Owner" />
                <div class="being">
                    <InlineLink Value="@BeingsTitle" PlaceHolder="No beings..." Icon="user-friends" OnClick="@SelectBeing" />
                </div>
                @if (UserState.IsAuthenticated)
                {
                    <div class="gps">
                        <MapToggle Text="@(MarkerCount == 0 ? "No Locations on Map..." : $"Show Locations on Map ({MarkerCount})")" IsPlaceHolder="@(MarkerCount == 0)" IsEnabled="@(MarkerCount != 0 || Permissions.IsEditable)">
                            <Neptuo.Recollections.Components.Map Markers="@Markers" MarkersChanged="@(async () => await SaveLocationsAsync())" IsAdditive="true" MarkerSelected="OnLocationSelected" />
                        </MapToggle>
                    </div>
                }
                <div class="my-3">
                    <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description..." ValueChanged="@(async value => await SaveTextAsync(value))" />
                </div>
                @if (Media?.Count > 0 || UploadProgress?.Count > 0)
                {
                    <div class="images my-3">
                        @if (Media != null)
                        {
                            <Gallery @ref="Gallery" Models="@GalleryItems" DataGetter="OnGetImageDataAsync" OnOpenInfo="@OnGalleryOpenInfoAsync" />

                            @foreach (var item in Media)
                            {
                                @if (item?.Type == "image" && item.Image != null)
                                {
                                    var image = item.Image;

                                    <EntryImage @key="image.Id" Image="@image" OnClick="(() => Gallery.Open(Media.IndexOf(item)))">
                                        <ThumbnailContent>
                                            <button class="btn btn-outline-primary border-0 p-0" @onclick="(async () => { Navigator.OpenImageDetail(EntryId, image.Id); })" @onclick:stopPropagation="true">
                                                <Icon Identifier="info-circle" Prefix="fas" CssClass="p-1" />
                                            </button>
                                        </ThumbnailContent>
                                    </EntryImage>
                                }
                                else if (item?.Type == "video" && item.Video != null)
                                {
                                    var video = item.Video;

                                    <EntryImage @key="video.Id" Video="@video" OnClick="(() => Gallery.Open(Media.IndexOf(item)))">
                                        <ThumbnailContent>
                                            <button class="btn btn-outline-primary border-0 p-0" @onclick="(async () => { Navigator.OpenVideoDetail(EntryId, video.Id); })" @onclick:stopPropagation="true">
                                                <Icon Identifier="info-circle" Prefix="fas" CssClass="p-1" />
                                            </button>
                                            <Icon Identifier="play" Prefix="fas" CssClass="position-absolute top-50 start-50 translate-middle z-3 fs-1" />
                                        </ThumbnailContent>
                                    </EntryImage>
                                }
                            }
                        }

                        @if (UploadProgress != null)
                        {
                            foreach (var upload in UploadProgress)
                            {
                                @if (upload.IsDone && upload.Tag != null)
                                {
                                    var uploadMedia = upload.Tag as MediaModel;
                                    if (uploadMedia?.Type == "image" && uploadMedia.Image != null)
                                    {
                                        <EntryImage Image="@uploadMedia.Image" />
                                    }
                                    else if (uploadMedia?.Type == "video" && uploadMedia.Video != null)
                                    {
                                        <div class="image justify-content-center">
                                            <img class="rounded ratio ratio-4x3" src="@uploadMedia.Video.Thumbnail.Url" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    <EntryImage
                                        PlaceHolder="@upload.StatusDescription"
                                        PlaceHolderCssClass="@(upload.IsCurrent ? (upload.Percentual == 0 ? "loading-circle" : $"text-primary") : "")"
                                        PlaceHolderState="@GetImagePlaceHolderState(upload)"
                                    />
                                }
                            }
                        }
                    </div>
                }

                <ActionPanel>
                    <PermissionView Request="@PermissionRequest.Write">
                        <FileUpload 
                            EntityType="entry"
                            EntityId="@EntryId"
                            Url="@Api.MediaUploadUrl(Model.Id)"
                            DragAndDropContainer="Container"
                        />
                    </PermissionView>
                </ActionPanel>
            </div>
        </PermissionContainer>
    </CascadingValue>

    <LocationEdit @ref="LocationEdit" Save="@SaveSelectedLocationAsync" Delete="@DeleteSelectedLocationAsync" />

    <StoryPicker @ref="StoryPicker" Selected="StorySelectedAsync" />
    <BeingPicker @ref="BeingPicker" Selected="BeingSelectedAsync" />
}
