@page "/entries/{EntryId}"
@inherits UserStateComponentBase

@if (Model != null)
{
    <DocumentTitle Value="@Model.Title" />
    <TemplateContent Name="MobileTitle">
        <h2 class="title d-flex text-break mb-0">
            <InlineTextEdit Value="@Model.Title" ValueChanged="@(async value => await SaveTitleAsync(value))" EditModeCssClass="flex-grow-1" />
        </h2>
    </TemplateContent>

    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <ActionMenu>
                <ItemGroup Text="@Model.Title">
                    @if (Gallery != null)
                    {
                        <Item Icon="image" Text="Open gallery" OnClick="@(() => Gallery.Open(0))" />
                    }
                    <PermissionView Request="PermissionRequest.Owner">
                        <ShareButton Owner="@Owner" EntryId="@EntryId" Layout="ButtonLayout.Item" />
                    </PermissionView>
                    <ShareLinkButton Layout="ButtonLayout.Item" />
                    <PermissionView Request="PermissionRequest.Owner">
                        <Item Icon="trash-alt" Text="Delete Entry" OnClick="DeleteAsync" CssClass="text-danger" Title="Delete Entry" />
                    </PermissionView>
                </ItemGroup>
            </ActionMenu>

            <div @ref="Container" class="entry-detail my-sm-3">
                <h2 class="title d-none d-sm-flex text-break">
                    <InlineTextEdit Value="@Model.Title" ValueChanged="@(async value => await SaveTitleAsync(value))" EditModeCssClass="flex-grow-1" />
                </h2>
                <div class="datetime">
                    <InlineDateEdit Value="@Model.When" ValueChanged="@(async value => await SaveWhenAsync(value))" Format="@UiOptions.DateFormat" />
                </div>
                <div class="story">
                    <InlineLink Value="@StoryTitle" PlaceHolder="No story..." Icon="book" OnClick="@SelectStory" />
                </div>
                <UserInformation Owner="@Owner" />
                <div class="being">
                    <InlineLink Value="@BeingsTitle" PlaceHolder="No beings..." Icon="user-friends" OnClick="@SelectBeing" />
                </div>
                @if (UserState.IsAuthenticated)
                {
                    <div class="gps">
                        <MapToggle Text="@($"Show Locations on Map ({MarkerCount})")" IsPlaceHolder="@(MarkerCount == 0)" IsEnabled="@(MarkerCount != 0 || Permissions.IsEditable)">
                            <Neptuo.Recollections.Components.Map Markers="@Markers" MarkersChanged="@(async () => await SaveLocationsAsync())" IsAdditive="true" MarkerSelected="OnLocationSelected" />
                        </MapToggle>
                    </div>
                }
                <div class="my-3">
                    <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description..." ValueChanged="@(async value => await SaveTextAsync(value))" />
                </div>
                @if (Images.Count > 0 || UploadProgress?.Count > 0)
                {
                    <div class="images my-3">
                        @if (Images != null)
                        {
                            <Gallery @ref="Gallery" Models="@GalleryItems" DataGetter="OnGetImageDataAsync" OnOpenInfo="(async i => { await Gallery.CloseAsync(); Navigator.OpenImageDetail(EntryId, Images[i].Id); })" />

                            @foreach (var image in Images)
                            {
                                <EntryImage @key="image.Id" Image="@image" OnClick="(() => Gallery.Open(Images.IndexOf(image)))">
                                    <ThumbnailContent>
                                        <button class="btn btn-outline-primary border-0 p-0" @onclick="(async () => { Navigator.OpenImageDetail(EntryId, image.Id); })" @onclick:stopPropagation="true">
                                            <Icon Identifier="info-circle" Prefix="fas" CssClass="p-1" />
                                        </button>
                                    </ThumbnailContent>
                                </EntryImage>
                            }
                        }

                        @if (UploadProgress != null)
                        {
                            foreach (var upload in UploadProgress)
                            {
                                @if (upload.IsDone && upload.Tag != null)
                                {
                                    <EntryImage Image="@(upload.Tag as ImageModel)" />
                                }
                                else
                                {
                                    <EntryImage
                                        PlaceHolder="@upload.StatusDescription"
                                        PlaceHolderCssClass="@(upload.IsCurrent ? (upload.Percentual == 0 ? "loading-circle" : $"text-primary") : "")"
                                        PlaceHolderState="@GetImagePlaceHolderState(upload)"
                                    />
                                }
                            }
                        }
                    </div>
                }

                <ActionPanel>
                    <PermissionView Request="@PermissionRequest.Write">
                        <FileUpload 
                            EntityType="entry"
                            EntityId="@EntryId"
                            Url="@Api.ImageUploadUrl(Model.Id)"
                            DragAndDropContainer="Container"
                        />
                    </PermissionView>
                </ActionPanel>
            </div>
        </PermissionContainer>
    </CascadingValue>

    <LocationEdit @ref="LocationEdit" Save="@SaveSelectedLocationAsync" Delete="@DeleteSelectedLocationAsync" />

    <StoryPicker @ref="StoryPicker" Selected="StorySelectedAsync" />
    <BeingPicker @ref="BeingPicker" Selected="BeingSelectedAsync" />
}
