@page "/entry/{EntryId}"
@inherits EntryDetailModel

@if (Model != null)
{
    <div class="entry-detail">
        <h2 class="title">
            <InlineTextEdit Value="@Model.Title" ValueChanged="@(value => SaveTitleAsync(value))" />
        </h2>
        <div class="datetime">
            <Icon Identifier="calendar" />
            <InlineDateEdit Value="@Model.When" ValueChanged="@(value => SaveWhenAsync(value))" Format="@UiOptions.DateFormat" />
        </div>
        <div class="text">
            <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description provided..." ValueChanged="@(value => SaveTextAsync(value))" />
        </div>
        <div class="images">
            @if (Images != null)
            {
                var columns = 6;
                var rows = Images.Count / columns;
                for (int row = 0; row < rows; row++)
                {
                    <div class="row">
                        @for (int column = 0; column < columns; column++)
                        {
                            var image = Images[row * columns + column];

                            <div class="col-2 image">
                                <a href="@Navigator.UrlImageDetail(Model.Id, image.Id)">
                                    <img src="@Api.ResolveUrl(image.Preview)" />
                                </a>
                            </div>
                        }
                    </div>
                }
            }

            <FileUpload Url="@Api.ImageUploadUrl(Model.Id)" BearerToken="@UserState.BearerToken" Completed="@(() => OnUploadCompletedAsync())" />
        </div>

        <div class="actions">
            <button type="button" class="btn btn-sm btn-danger" onclick="@(() => DeleteAsync())" title="Delete Entry">
                <Icon Identifier="trash" />
                Delete Entry
            </button>
        </div>
    </div>
} 