@page "/entries/{EntryId}"
@inherits UserStateComponentBase

@if (Model != null)
{
    <DocumentTitle Value="@Model.Title" />

    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <ActionMenu>
                <ItemGroup Text="@Model.Title">
                    @if (Gallery != null)
                    {
                        <Item Icon="image" Text="Open gallery" OnClick="@(() => Gallery.OpenAsync(0))" />
                    }
                    <PermissionView Request="PermissionRequest.Owner">
                        <ShareButton Owner="@Owner" EntryId="@EntryId" Layout="ButtonLayout.Item" />
                    </PermissionView>
                    <ShareLinkButton Layout="ButtonLayout.Item" />
                    <PermissionView Request="PermissionRequest.Owner">
                        <Item Icon="trash-alt" Text="Delete Entry" OnClick="DeleteAsync" CssClass="text-danger" Title="Delete Entry" />
                    </PermissionView>
                </ItemGroup>
            </ActionMenu>

            <div @ref="Container" class="entry-detail my-sm-3">
                <InlineTitleEdit Value="@Model.Title" ValueChanged="@(async value => await SaveTitleAsync(value))" />
                <div class="datetime">
                    <InlineDateEdit Value="@Model.When" ValueChanged="@(async value => await SaveWhenAsync(value))" Format="@UiOptions.DateFormat" />
                </div>
                <div class="story">
                    <InlineLink Value="@StoryTitle" PlaceHolder="No story..." Icon="book" OnClick="@SelectStory" />
                </div>
                <UserInformation Owner="@Owner" />
                <div class="being">
                    <InlineLink Value="@BeingsTitle" PlaceHolder="No beings..." Icon="user-friends" OnClick="@SelectBeing" />
                </div>
                @if (UserState.IsAuthenticated)
                {
                    <div class="gps">
                        <MapToggle Text="@(MarkerCount == 0 ? "No Locations on Map..." : $"Show Locations on Map ({MarkerCount})")" IsPlaceHolder="@(MarkerCount == 0)" IsEnabled="@(MarkerCount != 0 || Permissions.IsEditable)">
                            <Neptuo.Recollections.Components.Map Markers="@Markers" MarkersChanged="@(async () => await SaveLocationsAsync())" IsAdditive="true" MarkerSelected="OnLocationSelected" />
                        </MapToggle>
                    </div>
                }
                <div class="my-3">
                    <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description..." ValueChanged="@(async value => await SaveTextAsync(value))" />
                </div>
                @if (Media?.Count > 0 || UploadProgress?.Count > 0)
                {
                    <div class="images my-3">
                        @if (Media != null)
                        {
                            <Gallery @ref="Gallery" Models="@GalleryItems" DataGetter="OnGetMediaDataAsync" OnOpenInfo="@OnGalleryOpenInfoAsync" />

                            @foreach (var item in Media)
                            {
                                string key = null;
                                Action onClick = null;
                                
                                if (item.Image != null)
                                {
                                    key = item.Image.Id;
                                    onClick = () => { Navigator.OpenImageDetail(EntryId, item.Image.Id); };
                                }
                                else if (item.Video != null)
                                {
                                    key = item.Video.Id;
                                    onClick = () => { Navigator.OpenVideoDetail(EntryId, item.Video.Id); };
                                }
                                
                                <EntryMedia @key="key" Image="@item.Image" Video="@item.Video" OnClick="(() => Gallery.OpenAsync(Media.IndexOf(item)))">
                                    <ThumbnailContent>
                                        <button class="btn btn-outline-primary border-0 p-0" @onclick="@onClick" @onclick:stopPropagation="true">
                                            <Icon Identifier="info-circle" Prefix="fas" CssClass="p-1" />
                                        </button>
                                    </ThumbnailContent>
                                </EntryMedia>
                            }
                        }

                        @if (UploadProgress != null)
                        {
                            foreach (var upload in UploadProgress)
                            {
                                @if (upload.IsDone && upload.Tag != null)
                                {
                                    var uploadMedia = upload.Tag as MediaModel;
                                    if (uploadMedia.Image != null || uploadMedia.Video != null)
                                    {
                                        <EntryMedia Image="@uploadMedia.Image" Video="@uploadMedia.Video" />
                                    }
                                }
                                else
                                {
                                    <EntryMedia
                                        PlaceHolder="@upload.StatusDescription"
                                        PlaceHolderCssClass="@(upload.IsCurrent ? (upload.Percentual == 0 ? "loading-circle" : $"text-primary") : "")"
                                        PlaceHolderState="@GetImagePlaceHolderState(upload)"
                                    />
                                }
                            }
                        }
                    </div>
                }

                <ActionPanel>
                    <PermissionView Request="@PermissionRequest.Write">
                        <FileUpload 
                            EntityType="entry"
                            EntityId="@EntryId"
                            Url="@Api.MediaUploadUrl(Model.Id)"
                            DragAndDropContainer="Container"
                        />
                    </PermissionView>
                </ActionPanel>
            </div>
        </PermissionContainer>
    </CascadingValue>

    <LocationEdit @ref="LocationEdit" Save="@SaveSelectedLocationAsync" Delete="@DeleteSelectedLocationAsync" />

    <StoryPicker @ref="StoryPicker" Selected="StorySelectedAsync" />
    <BeingPicker @ref="BeingPicker" Selected="BeingSelectedAsync" />
}
