@page "/entry/{EntryId}/image/{ImageId}"
@inherits ImageDetailModel

@if (Model != null)
{
    <div class="image-detail">
        <h2 class="title">
            <InlineTextEdit Value="@Model.Name" PlaceHolder="Unnamed image..." ValueChanged="@(value => SaveNameAsync(value))" />
        </h2>
        <div class="datetime">
            <InlineDateEdit Value="@Model.When" ValueChanged="@(value => SaveWhenAsync(value))" Format="@UiOptions.DateTimeFormat" />
        </div>
        <div class="text">
            <InlineMarkdownEdit Value="@Model.Description" PlaceHolder="No description provided..." ValueChanged="@(value => SaveDescriptionAsync(value))" />
        </div>
        <div class="image">
            <img src="@Api.ResolveUrl(Model.Preview)" />
        </div>

        <div class="actions">
            <button type="button" class="btn btn-sm btn-danger" onclick="@(() => DeleteAsync())" title="Delete Image">
                <Icon Identifier="trash" />
                Delete Image
            </button>
        </div>
    </div>
}
