@page "/stories/{StoryId}"
@inherits UserStateComponentBase

@if (Model != null)
{
    <DocumentTitle Value="@Model.Title" />

    <CascadingValue Value="@Model">
        <PermissionContainer State="@Permissions">
            <ActionMenu>
                <ItemGroup Text="@Model.Title">
                    <Item Icon="image" Text="Open gallery" OnClick="@(() => Gallery.Open(0))" />
                    <PermissionView Request="PermissionRequest.Write">
                        <Item Icon="book" Text="Add Chapter" OnClick="AddChapter" Title="Add Chapter" />
                        <Item Icon="plus" Text="Add Story Entry" OnClick="() => SelectEntry(null)" Title="Add Story Entry" />
                    </PermissionView>
                    <PermissionView Request="PermissionRequest.Owner">
                        <ShareButton Owner="@Owner" StoryId="@Model.Id" Layout="ButtonLayout.Item" />
                    </PermissionView>
                    <ShareLinkButton Layout="ButtonLayout.Item" />
                    <PermissionView Request="PermissionRequest.Owner">
                        <Item Icon="trash-alt" Text="Delete Story" OnClick="@(async () => await DeleteAsync())" CssClass="text-danger" Title="Delete Story" />
                    </PermissionView>
                </ItemGroup>

                @foreach (var chapter in Model.Chapters)
                {
                    <ItemGroup Text="@chapter.Title">
                        <Item Icon="plus" Text="Add Entry" OnClick="@(() => SelectEntry(chapter))" Title="Add Chapter Entry" />
                        <Item Icon="trash-alt" Text="Delete Chapter" OnClick="@(async () => await DeleteChapterAsync(chapter))" CssClass="text-danger" Title="Delete Chapter" />
                    </ItemGroup>
                }
            </ActionMenu>

            <div class="entry-detail my-sm-3">
                <InlineTitleEdit Value="@Model.Title" ValueChanged="@(async value => await SaveTitleAsync(value))" />
                <UserInformation Owner="@Owner" />
                <div class="my-3">
                    <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description..." ValueChanged="@(async value => await SaveTextAsync(value))" />
                </div>
                <div class="entries">
                    <Timeline Data="@Entries[Model.Id]" ShowStoryInfo="false" />
                </div>

                <div class="chapters">
                    @foreach (var chapter in Model.Chapters)
                    {
                        <div class="chapter">
                            <h4>
                                <InlineTextEdit
                                    @ref="LastChapterTitleEdit"
                                    Value="@chapter.Title"
                                    ValueChanged="@(async value => await SaveChapterTitleAsync(chapter, value))"
                                />
                            </h4>
                            <div class="my-3">
                                <InlineMarkdownEdit Value="@chapter.Text" PlaceHolder="No description..." ValueChanged="@(async value => await SaveChapterTextAsync(chapter, value))" />
                            </div>
                            <div class="entries">
                                <Timeline Data="@Entries[chapter.Id]" ShowStoryInfo="false" />
                            </div>
                        </div>
                    }
                </div>

                <Gallery @ref="Gallery" Models="@GalleryItems" DataGetter="OnGetMediaDataAsync" OnOpenInfo="OnGalleryOpenInfoAsync" />
            </div>
        </PermissionContainer>
    </CascadingValue>

    <EntryPicker @ref="EntryPicker" Selected="EntrySelected" />
}