@page "/stories"

<div class="stories">
    <div class="story-new">
        <Validation ErrorMessages="ErrorMessages" />

        <form @onsubmit="@CreateAsync">
            <div class="row">
                <div class="col-md col-sm-12">
                    <input class="form-control" type="text" placeholder="Story title..." @bind="Title" />
                </div>
                <div class="col-md-auto col-sm-12 mt-2 mt-md-0">
                    <button class="btn btn-primary btn-block" type="submit">Create new story</button>
                </div>
            </div>
        </form>
    </div>

    <ListView Items="@Items" IsLoading="@IsLoading" EmptyMessage="You don't have any story..." Context="story">
        <div class="story">
            <h2>
                <a href="@Navigator.UrlStoryDetail(story.Id)">
                    @story.Title
                </a>
            </h2>

            <span class="chapters">
                <Icon Identifier="book" />
                @story.Chapters chapters
            </span>

            <span class="entries">
                <Icon Prefix="fas" Identifier="comment-alt" />
                @story.Entries entries
            </span>

            @if (story.MinDate != null || story.MaxDate != null)
            {
                <span class="dates">
                    <Icon Identifier="calendar" />
                    <span class="ml-1">
                        @if (story.MinDate != null)
                        {
                            @story.MinDate.Value.ToString(UiOptions.DateFormat)
                        }

                        @if (story.MinDate != story.MaxDate)
                        {
                            if (story.MinDate != null && story.MaxDate != null)
                            {
                                @: -
                            }

                            if (story.MaxDate != null)
                            {
                                @story.MaxDate.Value.ToString(UiOptions.DateFormat)
                            }
                        }
                    </span>
                </span>
            }

            @if (UserState.UserId != story.UserId)
            {
                <span class="owner">
                    <Icon Identifier="user" />
                    @story.UserName
                </span>
            }
        </div>
    </ListView>
</div>