@page "/"

<div class="timeline">
    <TimelineItem>
        <EntryCreate />
    </TimelineItem>

    @foreach (var entry in Entries)
    {
        <TimelineItem>
            <div class="entry">
                <div class="title">
                    <h2>
                        <a href="@Navigator.UrlEntryDetail(entry.Id)">
                            @entry.Title
                        </a>
                    </h2>
                </div>
                <div class="datetime">
                    @entry.When.ToString(UiOptions.DateFormat)
                </div>
                <div class="text">
                    @ConvertMarkdown(entry.Text)
                </div>
            </div>
        </TimelineItem>
    }

    @if (HasMore)
    {
        <div class="center">
            <button class="btn btn-outline-primary" @onclick="@LoadMoreAsync">More...</button>
        </div>
    }
</div>
