@page "/"

<div class="timeline">
    <TimelineItem>
        <EntryCreate />
    </TimelineItem>

    @foreach (var entry in Entries)
    {
        <TimelineItem>
            <div class="entry">
                <h2>
                    <a href="@Navigator.UrlEntryDetail(entry.Id)">
                        @entry.Title
                    </a>
                </h2>

                <span class="datetime">
                    <Icon Identifier="calendar" />
                    @entry.When.ToString(UiOptions.DateFormat)
                </span>

                @if(entry.GpsCount > 0)
                {
                    <span class="gps">
                        <Icon Identifier="location" />
                        @entry.GpsCount
                    </span>
                }

                @if(entry.ImageCount > 0)
                {
                    <span class="gps">
                        <Icon Identifier="image" />
                        @entry.ImageCount
                    </span>
                }
            </div>
        </TimelineItem>
    }

    @if (HasMore)
    {
        <div class="center">
            <button class="btn btn-outline-primary" @onclick="@LoadMoreAsync">More...</button>
        </div>
    }
</div>
