@page "/entries/{EntryId}/videos/{VideoId}"
@inherits UserStateComponentBase

@if (Model != null)
{
    <DocumentTitle Value="@Model.Name" />

    <PermissionContainer State="@Permissions">
        <ActionMenu>
            <ItemGroup Text="@Model.Name">
                <Item Icon="cloud-download" Text="Download Original" OnClick="DownloadOriginalAsync" Title="Download Original Video" />
                <ShareLinkButton Layout="ButtonLayout.Item" />
                <PermissionView Request="PermissionRequest.Write">
                    <Item Icon="location-arrow" Text="Set Location from Original" OnClick="SetLocationOriginalAsync" Title="Set Location from Original Video" />
                    <Item Icon="trash-alt" Text="Delete Video" OnClick="DeleteAsync" CssClass="text-danger" Title="Delete Video" />
                </PermissionView>
            </ItemGroup>
        </ActionMenu>

        <div class="image-detail my-sm-3">
            <InlineTitleEdit Value="@Model.Name" PlaceHolder="Unnamed video..." ValueChanged="@(async value => await SaveNameAsync(value))" />
            <div class="datetime">
                <InlineDateEdit Value="@Model.When" ValueChanged="@(async value => await SaveWhenAsync(value))" Format="@UiOptions.DateFormat" IsTimeSelection="true" />
            </div>
            @if (EntryId != null)
            {
                <InlineLink Icon="comment" Value="@EntryModel.Title" OnClick="@(() => Navigator.OpenEntryDetail(EntryId))" />
            }
            <UserInformation Owner="@Owner" />
            @if (UserState.IsAuthenticated)
            {
                <div class="gps">
                    <MapToggle ToggleChanged="@GetMapDescription" IsPlaceHolder="@(!Model.Location.HasValue())" IsEnabled="@(Model.Location.HasValue() || Permissions.IsEditable)">
                        <Neptuo.Recollections.Components.Map Markers="@Markers" MarkersChanged="@(async () => await SaveLocationAsync())" MarkerSelected="OnLocationSelected" OnClearLocation="@OnClearLocationAsync" />
                    </MapToggle>
                </div>
            }
            <div class="my-3">
                <InlineMarkdownEdit Value="@Model.Description" PlaceHolder="No description..." ValueChanged="@(async value => await SaveDescriptionAsync(value))" />
            </div>
            <EntryMedia EntryId="@EntryId" Video="@Model" Type="@MediaType.Preview" ClickToPlay="true" />
        </div>

        <LocationEdit @ref="LocationEdit" Save="@(async location => await SaveLocationAsync(location))" Delete="@OnClearLocationAsync" />
    </PermissionContainer>
}
