@inherits LayoutComponentBase

<ThemeSwitcher />

<nav class="navbar navbar-inverse navbar navbar-expand-sm navbar-dark bg-dark main-navbar sticky-top block-icons">
    <div class="container flex-nowrap">
        <a class="navbar-brand align-self-baseline" href="@Navigator.UrlTimeline()">
            <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-sm-top" alt="">
        </a>
        <TemplatePlaceholder Name="MobileTitle">
            <ChildContent Context="contents">
                <span class="navbar-text text-white py-0 fs-4 d-sm-none flex-grow-1 me-auto">
                    @foreach (var content in contents)
                    {
                        @content.ChildContent
                    }
                </span>
            </ChildContent>
            <EmptyContent>
                <span class="navbar-text text-white py-0 fs-4 d-sm-none flex-grow-1 overflow-hidden text-truncate me-auto">
                    <DocumentTitleViewer />
                </span>
            </EmptyContent>
        </TemplatePlaceholder>

        <div class="d-none d-sm-flex navbar-collapse menu-collapse">
            <ul class="navbar-nav justify-content-between w-100">
                @for (int i = 0; i < Menu.Main.Count; i++)
                {
                    var menuItem = Menu.Main[i];
                    <li class="nav-item @(i == Menu.Main.Count - 1 ? "ms-lg-auto" : "")">
                        <NavLink class="nav-link" href="@menuItem.Url" target="@(menuItem.IsNewWindow ? "_blank" : null)" Match="@menuItem.Match">
                            <Icon Identifier="@menuItem.Icon" CssClass="@menuItem.CssClass" />
                            <span class="d-none d-md-inline-block">@menuItem.Text</span>
                        </NavLink>
                    </li>
                }
                <PwaInstall />
                <UserInfo Menu="@Menu" OnChangePassword="@(() => { ChangePasswordModal.Show(); })" />
            </ul>
        </div>
    </div>
</nav>

<FileUploadProgressListener>
    <ChildContent Context="files">
        @if (files.Length > 0)
        {
            var currentCount = files.Count(p => p.Status == "current");
            var currentAndFinishedCount = files.Count(p => p.Status == "current" || p.Status == "done" || p.Status == "error");
            var currentPercentage = files.Where(p => p.Status == "current").Sum(p => p.Percentual) / currentCount;
            <div class="container flex-nowrap sticky-top pb-2 bg-body file-progress-global" style="">
                <div class="alert alert-secondary mb-0">
                    <div class="mb-1">
                        Uploading @currentAndFinishedCount / @files.Length
                        @if (files.Any(p => p.Status == "error"))
                        {
                            <Icon Identifier="exclamation-triangle" CssClass="ms-2 text-warning" />
                        }
                    </div>
                    <div class="progress" style="height: 2px">
                        <div class="progress-bar" style="width: @(currentPercentage)%"></div>
                    </div>
                </div>
            </div>
        }
    </ChildContent>
</FileUploadProgressListener>

<ExceptionPanel @ref="ExceptionPanel" OnReadOnlyClick="OnReadOnlyClickAsync">
    <UnauthorizedContent>
        <Unauthorized />
    </UnauthorizedContent>
    <NotFoundContent>
        <NotFound />
    </NotFoundContent>
</ExceptionPanel>

@Body

<BottomMenu Menu="@Menu" />

<ChangePasswordModal @ref="ChangePasswordModal" />
<TemplatePlaceholder Name="Dialogs" />
<Toast @ref="ThemeToast" />