@inherits LayoutComponentBase

<ThemeSwitcher />

<nav class="navbar navbar-inverse navbar navbar-expand-sm navbar-dark bg-dark main-navbar sticky-top block-icons">
    <div class="container">
        <a class="navbar-brand" href="@Navigator.UrlTimeline()">
            <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <span class="navbar-text text-white py-0 fs-4 d-sm-none me-auto">
            <DocumentTitleViewer />
        </span>

        <div class="d-none d-sm-flex navbar-collapse menu-collapse">
            <ul class="navbar-nav justify-content-between w-100">
                @for (int i = 0; i < Menu.Main.Count; i++)
                {
                    var menuItem = Menu.Main[i];
                    <li class="nav-item @(i == Menu.Main.Count - 1 ? "ms-lg-auto" : "")">
                        <NavLink class="nav-link" href="@menuItem.Url" target="@(menuItem.IsNewWindow ? "_blank" : null)" Match="@menuItem.Match">
                            <Icon Identifier="@menuItem.Icon" />
                            <span class="d-none d-md-inline-block">@menuItem.Text</span>
                        </NavLink>
                    </li>
                }
                <PwaInstall OnUpdateAvailable="@(() => IsMainMenuVisible = true)" />
                <UserInfo Menu="@Menu" OnChangePassword="@(() => { IsMainMenuVisible = false; ChangePasswordModal.Show(); })" />
            </ul>
        </div>
    </div>
</nav>

<ExceptionPanel @ref="ExceptionPanel" OnReadOnlyClick="OnReadOnlyClickAsync">
    <UnauthorizedContent>
        <Unauthorized />
    </UnauthorizedContent>
    <NotFoundContent>
        <NotFound />
    </NotFoundContent>
</ExceptionPanel>

@Body

<BottomMenu Menu="@Menu" />

<ChangePasswordModal @ref="ChangePasswordModal" />
<TemplatePlaceholder Name="Dialogs" />
