@inherits LayoutComponentBase

<ThemeSwitcher />

<nav class="navbar navbar-inverse navbar navbar-expand-sm navbar-dark bg-dark main-navbar sticky-top block-icons">
    <div class="container flex-nowrap">
        <a class="navbar-brand align-self-baseline" href="@Navigator.UrlTimeline()">
            <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-sm-top" alt="">
        </a>
        <TemplatePlaceholder Name="MobileTitle">
            <ChildContent Context="contents">
                <span class="navbar-text text-white py-0 fs-4 d-sm-none flex-grow-1 me-auto">
                    @foreach (var content in contents)
                    {
                        @content.ChildContent
                    }
                </span>
            </ChildContent>
            <EmptyContent>
                <span class="navbar-text text-white py-0 fs-4 d-sm-none flex-grow-1 overflow-hidden text-truncate me-auto">
                    <DocumentTitleViewer />
                </span>
            </EmptyContent>
        </TemplatePlaceholder>

        <div class="d-none d-sm-flex navbar-collapse menu-collapse">
            <ul class="navbar-nav justify-content-between w-100">
                @for (int i = 0; i < Menu.Main.Count; i++)
                {
                    var menuItem = Menu.Main[i];
                    <li class="nav-item @(i == Menu.Main.Count - 1 ? "ms-lg-auto" : "")">
                        <NavLink class="nav-link" href="@menuItem.Url" target="@(menuItem.IsNewWindow ? "_blank" : null)" Match="@menuItem.Match">
                            <Icon Identifier="@menuItem.Icon" CssClass="@menuItem.CssClass" />
                            <span class="d-none d-md-inline-block">@menuItem.Text</span>
                        </NavLink>
                    </li>
                }
                <PwaInstall />
                <UserInfo Menu="@Menu" OnChangePassword="@(() => { ChangePasswordModal.Show(); })" />
            </ul>
        </div>
    </div>
</nav>

<FileUploadNotification />
<FileUploadUnfinishedNotification />
<FileUploadErrorNotification />
<FileUploadUnassignedNotification />

<ExceptionPanel @ref="ExceptionPanel" OnReadOnlyClick="OnReadOnlyClickAsync">
    <UnauthorizedContent>
        <Unauthorized />
    </UnauthorizedContent>
    <NotFoundContent>
        <NotFound />
    </NotFoundContent>
</ExceptionPanel>

@Body

<BottomMenu Menu="@Menu" />

<ChangePasswordModal @ref="ChangePasswordModal" />
<TemplatePlaceholder Name="Dialogs" />
<Toast @ref="ThemeToast" />