@inherits LayoutComponentBase

<nav class="navbar navbar-inverse navbar navbar-expand-lg navbar-dark bg-dark main-navbar sticky-top">
    <div class="container">
        <a class="navbar-brand" href="@Navigator.UrlTimeline()">
            <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Recollections
        </a>
        <button class="navbar-toggler" type="button" @onclick="ToggleMainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse @(IsMainMenuVisible ? "" : "collapse")">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlTimeline()" Match="@NavLinkMatch.All">Timeline</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlMap()">Map</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlStories()">Stories</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="@Navigator.UrlAbout()">About</NavLink>
                </li>
            </ul>
            <span class="navbar-text mr-2">
                <PwaInstall OnUpdateAvailable="@(() => IsMainMenuVisible = true)" />
            </span>
            <ul class="navbar-nav">
                <UserInfo />
            </ul>
        </div>
    </div>
</nav>

<ExceptionPanel>
    <NotFoundContent>
        <NotFound />
    </NotFoundContent>
</ExceptionPanel>

@Body