@inherits InlineEdit<string>

<div class="inline-editor inline-link @GetModeCssClass()">
    <a class="inline-editor-value" @onclick="@OnEditAsync">
        <Icon Identifier="pen" />

        @if (!String.IsNullOrEmpty(Icon))
        {
            <Icon Prefix="@IconPrefix" Identifier="@Icon" />
        }

        @if (String.IsNullOrEmpty(Value))
        {
            <span class="ms-1 inline-editor-content value-placeholder">@ValueContent(PlaceHolder ?? "No value...")</span>
        }
        else
        {
            <span class="ms-1 inline-editor-content">@ValueContent(Value)</span>
        }
    </a>

    @AfterContent
</div>

