@inherits InlineDateEditModel

<div class="inline-editor @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form class="form-inline" onsubmit="@OnSaveValueAsync">
            <input id="@InputId" type="text" class="form-control" bind="@Value" format-value="@Format" autofocus />
            <button class="btn btn-link">
                <Icon Identifier="check" />
            </button>
        </form>
    }
    else
    {
        <a class="inline-editor-value" onclick="@(() => IsEditMode = true)">
            <Icon Identifier="pencil" />

            <Icon Identifier="calendar" />
            @if (Value == DateTime.MinValue)
            {
                <span class="inline-editor-content placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                <span class="inline-editor-content">@Value.ToString(Format ?? "yyyy-MM-dd")</span>
            }
        </a>
    }
</div>
