@inherits InlineEdit<string>

<div class="inline-editor inline-link @GetModeCssClass()">
    <a class="inline-editor-value d-inline-block py-1 @(String.IsNullOrEmpty(Value) ? "text-muted" : "")" @onclick="@OnEditAsync">
        @if (!String.IsNullOrEmpty(Icon))
        {
            <Icon Prefix="@IconPrefix" Identifier="@Icon" />
        }

        <span class="ms-1 inline-editor-content">
            @if (String.IsNullOrEmpty(Value))
            {
                @ValueContent(PlaceHolder ?? "No value...")
            }
            else
            {
                @ValueContent(Value)
            }
        </span>
    </a>

    @AfterContent
</div>

