@inherits InlineTextEditModel

<span class="inline-editor @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form class="form-inline" onsubmit="@OnSaveValue">
            <input type="text" class="form-control" bind="@Value" autofocus />
            <button class="btn btn-link">
                <Icon Identifier="check" />
            </button>
        </form>
    }
    else
    {
        <span class="inline-editor-value" onclick="@(() => IsEditMode = true)">
            @if (String.IsNullOrEmpty(Value))
            {
                <span class="placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                @Value
            }
            <Icon Identifier="pencil" />
        </span>
    }
</span>
