@inherits InlineEdit<string>

<div class="inline-editor inline-markdown @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form @onsubmit="@OnSaveValueAsync">
            <textarea @ref="TextArea" class="form-control" />
        </form>
    }
    else
    {
        <a class="inline-editor-value" @onclick="@OnEditAsync">
            <Icon Identifier="pencil" />

            @if (String.IsNullOrEmpty(Value))
            {
                <span class="inline-editor-content placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                <span class="inline-editor-content">@MarkdownValue</span>
            }
        </a>
    }
</div>
