@inherits InlineEdit<DateTime>

<div class="inline-editor @GetDateCssClass() @GetModeCssClass()">
    <a class="inline-editor-value d-inline-block py-1 @(Value == DateTime.MinValue ? "text-muted" : "")" @onclick="@(() => { if (IsEditable) DatePicker.Show(); })">
        <Icon Identifier="calendar-alt" />
        <span class="inline-editor-content">
            @if (Value == DateTime.MinValue)
            {
                @(PlaceHolder ?? "No value...")
            }
            else
            {
                @Value.ToString(Format ?? "yyyy-MM-dd")
                
                @if (IsTimeSelection)
                {
                    <span class="ms-1" @onclick="@(() => { if (IsEditable) TimePicker.Show(); })" @onclick:stopPropagation="true">
                        @Value.ToString(@TimeFormat)
                    </span>
                }
            }
        </span>
    </a>
</div>

<DatePicker @ref="DatePicker" Part="DatePickerPart.Day" Value="SelectedDate" ValueChanged="@(date => { SelectedDate = date; BindValue(); })" />
<TimePicker @ref="TimePicker" Value="SelectedTime" ValueChanged="@(time => { SelectedTime = time; BindValue(); })" />