@inherits InlineDateEditModel

<span class="inline-editor @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form class="form-inline" onsubmit="@OnSaveValueAsync">
            <input type="text" class="form-control" bind="@Value" format-value="@Format" autofocus />
            <button class="btn btn-link">
                <Icon Identifier="check" />
            </button>
        </form>
    }
    else
    {
        <span class="inline-editor-value" onclick="@(() => IsEditMode = true)">
            @if (Value == DateTime.MinValue)
            {
                <span class="placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                @Value.ToString(Format ?? "yyyy-MM-dd")
            }
            <Icon Identifier="pencil" />
        </span>
    }
</span>
