@inherits InlineMarkdownEditModel

<div class="inline-editor @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form onsubmit="@OnSaveValueAsync">
            <textarea id="@TextAreaId" class="form-control" />
            <button type="submit" class="btn btn-link" title="Save changes">
                <Icon Identifier="check" />
            </button>
        </form>
    }
    else
    {
        <span class="inline-editor-value" onclick="@(() => IsEditMode = true)">
            @if (String.IsNullOrEmpty(Value))
            {
                <span class="placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                @MarkdownValue
            }
            <Icon Identifier="pencil" />
        </span>
    }
</div>
