@inherits InlineEdit<string>

<div class="inline-editor inline-markdown @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form @onsubmit="@OnSaveValueAsync">
            <textarea @ref="TextArea" class="form-control" />
        </form>
    }
    else
    {
        <a class="inline-editor-value d-inline-block py-1 @(String.IsNullOrEmpty(Value) ? "text-muted" : "")" @onclick="@OnEditAsync">
            <span class="inline-editor-content">
                @if (String.IsNullOrEmpty(Value))
                {
                    @(PlaceHolder ?? "No value...")
                }
                else
                {
                    @MarkdownValue
                }
            </span>
        </a>
    }
</div>
