@inherits InlineDateEditModel

<div class="inline-editor @GetModeCssClass()">
    @if (IsEditMode)
    {
        <form class="form-inline" @onsubmit="@OnSaveValueAsync">
            <div class="input-group">
                <input @ref="Input" type="text" class="form-control" @bind="Value" @bind:format="@Format" autofocus />
                <div class="input-group-append">
                    <button class="btn btn-outline-success btn-save" title="Save changes">
                        <Icon Identifier="check" />
                    </button>
                    <button class="btn btn-outline-danger btn-cancel" @onclick="@OnResetAsync" title="Revert changes">
                        <Icon Identifier="x" />
                    </button>
                </div>
            </div>
        </form>
    }
    else
    {
        <a class="inline-editor-value" @onclick="@OnEditAsync">
            <Icon Identifier="pencil" />

            <Icon Identifier="calendar" />
            @if (Value == DateTime.MinValue)
            {
                <span class="inline-editor-content placeholder">@(PlaceHolder ?? "No value...")</span>
            }
            else
            {
                <span class="inline-editor-content">@Value.ToString(Format ?? "yyyy-MM-dd")</span>
            }
        </a>
    }
</div>
