<Modal @ref="Modal" Title="Select beings" CssClass="beings" OnFormSubmit="@OnSubmit" IsOverflow="true">
    <ChildContent>
        <div class="d-grid gap-3">
            <ListView Items="@Beings" IsLoading="@IsLoading" Context="being">
                <BeingCard
                    Model="being"
                    OnCardClick="@(() => OnItemClick(being.Id))"
                    CardCssClass="@($"no-hover flex-grow-1 {(SelectedIds.Contains(being.Id) ? "selected" : String.Empty)}")"
                    HasBody="false"
                >
                    <BeforeTitleContent>
                        <CheckboxIcon
                            IsChecked="@SelectedIds.Contains(being.Id)"
                            OnClick="@(() => OnItemClick(being.Id))"
                            CssClass="uniform me-1"
                        />
                    </BeforeTitleContent>
                    <AfterTitleContent>
                        <Icon Identifier="circle-info fs-5 card-header-spread-icon" OnClick="@(() => { Modal.Hide(); Navigator.OpenBeingDetail(being.Id); })" />
                    </AfterTitleContent>
                </BeingCard>
            </ListView>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm-expand">Save</button>
    </Buttons>
</Modal>