<Modal @ref="Modal" Title="Select beings" CssClass="beings" OnFormSubmit="@OnSubmit">
    <ChildContent>
        <div class="d-grid gap-3">
            <ListView Items="@Beings" IsLoading="@IsLoading" Context="being">
                <div class="d-flex align-items-start">
                    <BeingCard Model="being" OnCardClick="@(() => OnItemClick(being.Id))" CardCssClass="@($"no-hover flex-grow-1 {(SelectedIds.Contains(being.Id) ? "selected" : String.Empty)}")" />
                    <button class="btn btn-link py-0 pe-0 ps-2 fs-3 text-secondary" @onclick="@(() => { Modal.Hide(); Navigator.OpenBeingDetail(being.Id); })">
                        <Icon Identifier="circle-info" />
                    </button>
                </div>
            </ListView>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm-expand">Save</button>
    </Buttons>
</Modal>