@typeparam T

@code
{
    [Inject]
    protected UiOptions UiOptions { get; set; }

    [Parameter]
    public T Model { get; set; }

    [Parameter]
    public RenderFragment BeforeTitleContent { get; set; }
    
    [Parameter]
    public RenderFragment AfterTitleContent { get; set; }

    [Parameter]
    public RenderFragment<RenderFragment> BodyContent { get; set; }

    [Parameter]
    public EventCallback OnCardClick { get; set; }

    [Parameter]
    public EventCallback OnTitleClick { get; set; }

    [Parameter]
    public string CardCssClass { get; set; }

    [Parameter]
    public bool HasBody { get; set; } = true;

    protected RenderFragment Content => 
        @<div class="card @(OnCardClick.HasDelegate ? "cursor-pointer" : string.Empty) @CardCssClass" @onclick="OnCardClick">
            <div class="card-header @(!HasBody ? "border-bottom-0" : string.Empty)">
                <div class="d-flex align-items-center">
                    @BeforeTitleContent
                    <h5 class="flex-grow-1 py-2 mb-0 @(OnTitleClick.HasDelegate ? "cursor-pointer" : string.Empty)" @onclick="OnTitleClick">
                        @Title
                    </h5>
                    @AfterTitleContent
                </div>
            </div>
            @if (HasBody)
            {
                <div class="card-body p-0">
                    @if (BodyContent != null)
                    {
                        @BodyContent(DefaultBodyContent)
                    }
                    else
                    {
                        @DefaultBodyContent
                    }
                </div>
            }
        </div>;

    protected virtual string Title { get; }
    protected virtual RenderFragment DefaultBodyContent { get; } = builder => { };
}