<div class="image @(PlaceHolder != null ? "image-placeholder" : String.Empty)">
    @if (OnClick.HasDelegate)
    {
        <a href="@GetLinkUrl()" @onclick="@OnClick" @onclick:stopPropagation @onclick:preventDefault>
            @if (ImageType == Models.ImageType.Thumbnail) 
            {
                @ThumbnailContent
            }

            @RenderImage()
        </a>
    }
    else
    {
        @RenderImage()
    }

    @if (PlaceHolder != null)
    {
        <span class="@PlaceHolderCssClass">@PlaceHolder</span>
    }
</div>

@code
{
    protected RenderFragment RenderImage() 
    {
        return @<img @ref="@Element" src="@PlaceholderUrl" class="rounded" />;
    }
}