<Modal @ref="Modal" Title="Select Entry" CssClass="entry-picker">
    <ChildContent>
        <div class="timeline">
            <ListView Items="@Entries" IsLoading="@IsLoading" EmptyMessage="You don't have any entry..." Context="entry">
                <div class="entry">
                    <div class="title">
                        <h3>@entry.When.ToString(UiOptions.DateFormat)</h3>
                    </div>
                    <div class="body">
                        <h2>
                            <a @onclick="@(() => { Hide(); Selected?.Invoke(entry); })">
                                @entry.Title
                            </a>
                        </h2>
                        <p>
                            @if (!String.IsNullOrEmpty(entry.StoryTitle) || !String.IsNullOrEmpty(entry.ChapterTitle))
                            {
                                <span class="information">
                                    <Icon Identifier="book" />

                                    @entry.StoryTitle
                                    @if (!String.IsNullOrEmpty(entry.ChapterTitle))
                                    {
                                        <span>
                                            - @entry.ChapterTitle
                                        </span>
                                    }
                                </span>
                            }

                            @if (entry.TextWordCount > 0)
                            {
                                <span class="information">
                                    <Icon Identifier="quote-right" />
                                    @entry.TextWordCount words
                                </span>
                            }

                            @if (entry.GpsCount > 0)
                            {
                                <span class="information">
                                    <Icon Prefix="fas" Identifier="location-arrow" />
                                    @entry.GpsCount
                                </span>
                            }

                            @if (entry.ImageCount > 0)
                            {
                                <span class="information">
                                    <Icon Identifier="image" />
                                    @entry.ImageCount
                                </span>
                            }
                        </p>
                    </div>
                </div>
            </ListView>
        </div>
    </ChildContent>
    <Buttons>
        @if (HasMore)
        {
            <button class="btn btn-outline-primary" @onclick="@LoadMoreAsync">More...</button>
        }
    </Buttons>
</Modal>