<div class="image @(PlaceHolder != null ? "image-placeholder" : String.Empty)">
    @if (ImageType == Models.ImageType.Thumbnail)
    {
        <a href="@GetLinkUrl()">
            @ThumbnailContent
            <img src="@Url" class="rounded" />
        </a>
    }
    else
    {
        <img src="@Url" class="rounded" />
    }

    @if (PlaceHolder != null)
    {
        <span class="@PlaceHolderCssClass">@PlaceHolder</span>
    }
</div>
