@using Neptuo.Recollections.Entries.Stories
@inherits EntityCard<StoryListModel>

@Content

@code
{
    [CascadingParameter]
    public UserState UserState { get; set; }

    protected override string Title => Model.Title;
    protected override RenderFragment DefaultBodyContent => 
        @<div class="p-3">
            @if (Model.Chapters > 0)
            {
                <div>
                    <Icon Identifier="book" CssClass="uniform" />
                    @Model.Chapters chapters
                </div>
            }

            <div>
                <Icon Prefix="fas" Identifier="comment-alt" CssClass="uniform" />
                @Model.Entries @(Model.Entries == 1 ? "entry" : "entries")
            </div>

            @if (Model.MinDate != null || Model.MaxDate != null)
            {
                <div>
                    <Icon Identifier="calendar" CssClass="uniform" />
                    @(" ")
                    @if (Model.MinDate != null)
                    {
                        @Model.MinDate.Value.ToString(UiOptions.DateFormat)
                    }

                    @if (Model.MinDate != Model.MaxDate)
                    {
                        if (Model.MinDate != null && Model.MaxDate != null)
                        {
                            @: -
                        }

                        if (Model.MaxDate != null)
                        {
                            @Model.MaxDate.Value.ToString(UiOptions.DateFormat)
                        }
                    }
                </div>
            }

            @if (UserState.UserId != Model.UserId)
            {
                <div>
                    <Icon Identifier="user" CssClass="uniform" />
                    @Model.UserName
                </div>
            }
        </div>;
}