@using Microsoft.Extensions.Logging.Abstractions
<Modal 
    @ref="Modal"
    Title="Select a Story or Chapter"
    CssClass="stories story-picker"
    IsOverflow="true"
    AutoFocus="@(SelectedStoryId != null || SelectedChapterId != null)"
>
    <ChildContent>
        @if (!String.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">
                @ErrorMessage
            </div>
        }

        @if (!IsLoading && AllStories.Count > 0)
        {
            <input type="text" class="form-control mb-3" @bind="SearchQuery" @bind:event="oninput" @bind:after="OnSearch" placeholder="Type to filter stories..." />
        }

        <div class="d-grid gap-3">
            <ListView Items="@Stories" IsLoading="@IsLoading" EmptyMessage="You don't have any story..." Context="story">
                @{
                    var state = StoryStates.GetValueOrDefault(story.Id) ?? (StoryStates[story.Id] = new());
                }
                <StoryCard
                    Model="@story"
                    OnTitleClick="@(async () => await SelectAsync(story, null))"
                    CardCssClass="@($"no-hover flex-grow-1 {(SelectedStoryId == story.Id ? SelectedChapterId == null ? "selected" : "selected-within" : string.Empty)}")"
                    HasBody="@state.IsExpanded"
                    IsAutoFocus="@(SelectedStoryId == story.Id)"
                >
                    <BeforeTitleContent>
                        <CheckboxIcon
                            IsChecked="@(SelectedStoryId == story.Id && SelectedChapterId == null)"
                            OnClick="@(async () => await SelectAsync(story, null))"
                            CssClass="uniform me-1"
                        />
                    </BeforeTitleContent>
                    <AfterTitleContent>
                        @if (story.Chapters > 0)
                        {
                            if (state.IsLoading)
                            {
                                <div class="spinner-border spinner-border-sm">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                            else
                            {
                                <Icon
                                    OnClick="@(async () => await LoadChaptersAsync(story))"
                                    Identifier="@(state.IsExpanded ? "chevron-down" : "chevron-left")" 
                                    CssClass="fs-5 cursor-pointer chapter-toggle card-header-spread-icon"
                                />
                            }
                        }
                        <Icon Identifier="circle-info fs-5 card-header-spread-icon" OnClick="@(() => { Modal.Hide(); Navigator.OpenStoryDetail(story.Id); })" />
                    </AfterTitleContent>
                    <BodyContent>
                        @if (state.IsExpanded && state.Chapters != null)
                        {
                            <div class="list-group list-group-flush">
                                @foreach (var chapter in state.Chapters)
                                {
                                    <a class="list-group-item list-group-action border-0 @(SelectedChapterId == chapter.Id ? "fw-bold selected" : "bg-transparent")" @onclick="(async () => await SelectAsync(story, chapter))" @onclick:stopPropagation="true">
                                        <CheckboxIcon IsChecked="@(SelectedChapterId == chapter.Id)" CssClass="uniform" />
                                        @chapter.Title
                                    </a>
                                }
                            </div>
                        }
                    </BodyContent>
                </StoryCard>
            </ListView>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-secondary btn-sm-expand" @onclick="(async () => await SelectAsync(null, null))">No story</button>
    </Buttons>
</Modal>