<Modal @ref="Modal" Title="Select a Story or Chapter" CssClass="stories story-picker" IsOverflow="true">
    <ChildContent>
        @if (!String.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">
                @ErrorMessage
            </div>
        }

        <div class="d-grid gap-3">
            <ListView Items="@Stories" IsLoading="@IsLoading" EmptyMessage="You don't have any story..." Context="story">
                @{
                    var state = StoryStates.GetValueOrDefault(story.Id) ?? (StoryStates[story.Id] = new());
                }
                <StoryCard Model="@story" OnTitleClick="@(async () => await SelectAsync(story, null))" OnChaptersClick="@(async () => await LoadChaptersAsync(story))" CardCssClass="@($"no-hover flex-grow-1 {(SelectedStoryId == story.Id ? "selected" : string.Empty)}")">
                    <AfterTitleContent>
                        @if (story.Chapters > 0)
                        {
                            if (state.IsLoading)
                            {
                                <div class="spinner-border spinner-border-sm">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                            else
                            {
                                <Icon
                                    OnClick="@(async () => await LoadChaptersAsync(story))"
                                    Identifier="@(state.IsExpanded ? "chevron-down" : "chevron-left")" 
                                    CssClass="fs-5 cursor-pointer chapter-toggle"
                                />
                            }
                        }
                        <Icon Identifier="circle-info fs-5" OnClick="@(() => { Modal.Hide(); Navigator.OpenStoryDetail(story.Id); })" />
                    </AfterTitleContent>
                    <EndBodyContent>
                        @if (state.IsExpanded && state.Chapters != null)
                        {
                            @foreach (var chapter in state.Chapters)
                            {
                                <div>
                                    <hr />
                                    <a class="@(SelectedChapterId == chapter.Id ? "fw-bold" : string.Empty)" @onclick="(async () => await SelectAsync(story, chapter))" @onclick:stopPropagation="true">
                                        @chapter.Title
                                    </a>
                                </div>
                            }
                        }
                    </EndBodyContent>
                </StoryCard>
            </ListView>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-secondary btn-sm-expand" @onclick="(async () => await SelectAsync(null, null))">No story</button>
    </Buttons>
</Modal>