<button class="btn btn-sm btn-success" @onclick="@OnShow">
    <Icon Prefix="fas" Identifier="share-alt" />
    Share
</button>

<Modal @ref="@Modal">
    <TitleContent>
        <Icon Prefix="fas" Identifier="share-alt" />
        Share
    </TitleContent>
    <ChildContent>
        <ListView Items="@Items" IsLoading="@AreItemsLoading" Context="model" T="@ShareModel">
            <div class="row my-1" @key="@model.UserName">
                <div class="col">
                    <strong class="align-middle">
                        @(model.UserName ?? "public")
                    </strong>
                </div>
                <div class="col-auto">
                    <div class="btn-group">
                        @PermissionButton(model, null, "Not Shared")
                        @PermissionButton(model, Permission.Read, "Reader")
                        @if (model.UserName != "public")
                        {
                            @PermissionButton(model, Permission.CoOwner, "Co-owner")
                        }
                    </div>
                </div>
            </div>
            @if (model.UserName == "public" && Items.Count > 1)
            {
                <hr />
            }
        </ListView>
    </ChildContent>
    <Buttons>
        <button class="btn btn-salmon btn-sm" @onclick="SaveAsync">Save</button>
    </Buttons>
</Modal>

@code
{
    public RenderFragment PermissionButton(ShareModel model, Permission? target, string text) =>
        @<button type="button" class="btn btn-sm my-0 @(model.Permission == target ? "btn-secondary" : "btn-outline-secondary")" @onclick="@(() => model.Permission = target)">@text</button>
    ;
}