@if (UserState.IsAuthenticated)
{
    <li class="nav-item dropdown d-none d-lg-block">
        <a @ref="MeButton" class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <Icon Identifier="user-circle" />
            Me
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="@Navigator.UrlProfile(UserState.UserId)">
                    <Icon Identifier="address-card" />
                    Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="@Navigator.UrlConnections()">
                    <Icon Prefix="fas" Identifier="link" />
                    Connections
                </a>
            </li>
            <li>
                <a class="dropdown-item" @onclick="OnChangePassword">
                    <Icon Identifier="key" />
                    Change password
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item text-danger" @onclick="@LogoutAsync">
                    <Icon Prefix="fas" Identifier="sign-out-alt" />
                    Logout
                </a>
            </li>
        </ul>
    </li>
    <li class="d-block d-lg-none">
        <a class="nav-link" href="@Navigator.UrlProfile(UserState.UserId)">
            <Icon Identifier="address-card" />
            Profile
        </a>
    </li>
    <li class="d-block d-lg-none">
        <a class="nav-link" href="@Navigator.UrlConnections()">
            <Icon Prefix="fas" Identifier="link" />
            Connections
        </a>
    </li>
    <li class="d-block d-lg-none">
        <a class="nav-link" @onclick="OnChangePassword">
            <Icon Identifier="key" />
            Change password
        </a>
    </li>
    <li class="d-block d-lg-none">
        <a class="nav-link text-danger" @onclick="@LogoutAsync">
            <Icon Prefix="fas" Identifier="sign-out-alt" />
            Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" @onclick="LoginAsync">
            <Icon Identifier="sign-in-alt" />
            Login
        </a>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="@Navigator.UrlRegister()">
            <Icon Identifier="user-plus" />
            Register
        </NavLink>
    </li>
}
