@if (UserState.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a @ref="MeButton" class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <Icon Identifier="user-circle" />
            <span class="d-none d-md-inline-block">Me</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            @foreach (var item in Menu.User)
            {
                if (item.Text == "Logout")
                {
                    <li><hr class="dropdown-divider"></li>
                }

                if (item.Url != null)
                {
                    <li>
                        <a class="dropdown-item" href="@item.Url">
                            <Icon Identifier="@item.Icon" CssClass="@item.CssClass" />
                            @item.Text
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-item @(item.Text == "Logout" ? "text-danger": "")" @onclick="item.OnClick">
                            <Icon Identifier="@item.Icon" CssClass="@item.CssClass" />
                            @item.Text
                        </a>
                    </li>
                }
            }
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" @onclick="LoginAsync">
            <Icon Identifier="sign-in-alt" />
            <span class="d-none d-md-inline-block">Login</span>
        </a>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="@Navigator.UrlRegister()">
            <Icon Identifier="user-plus" />
            <span class="d-none d-md-inline-block">Register</span>
        </NavLink>
    </li>
}
