@page "/entry/{EntryId}"
@inherits EntryDetailModel

@if (Model != null)
{
    <div class="entry-detail">
        <h2 class="title">
            <InlineTextEdit Value="@Model.Title" ValueChanged="@(value => SaveTitleAsync(value))" />
        </h2>
        <div class="datetime">
            <Icon Identifier="calendar" />
            <InlineDateEdit Value="@Model.When" ValueChanged="@(value => SaveWhenAsync(value))" DisplayFormat="dd.MM.yyyy" />
        </div>
        <div class="text">
            <InlineMarkdownEdit Value="@Model.Text" PlaceHolder="No description provided..." ValueChanged="@(value => SaveTextAsync(value))" />
        </div>
    </div>
} 